@font-face {
    font-family: Regular;
    src: url("../fonts/regular.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bold;
    src: url("../fonts/bold.OTF");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Regular;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}

.red_txt,
.red_txt:hover {
    color: rgb(255, 64, 129) !important;
}

.primary_clr_bg {
    background-color: #05ac90;
}

.regular_font {
    font-family: Regular;
}

.bold_font {
    font-family: Bold;
}

.white_bg {
    background-color: #ffffff;
}

.primary_clr_txt,
.primary_clr_txt:hover {
    color: #05ac90;
}

.gray_txt {
    color: #494949
}

a:hover {
    text-decoration: none;
    outline: none;
}

.btn.focus,
.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: #dee0df;
}

.clr_white {
    color: #ffffff;
}

/*********************padding*******************/
.padding35 {
    padding: 35px;
}

.padding_left0 {
    padding-right: 0px !important;
}

.padding_right0 {
    padding-left: 0px;
}

.padding_bottom0 {
    padding-bottom: 0px !important;
}

.padding_top8 {
    padding-top: 8px;
}

.padding_top10 {
    padding-top: 10px !important;
}

.padding_top20 {
    padding-top: 20px;
}

.padding_top30 {
    padding-top: 30px;
}

.padding_top50 {
    padding-top: 50px;
}

.padding_top100 {
    padding-top: 100px;
}

.padding_top150 {
    padding-top: 150px;
}

.padding_hor10 {
    padding-left: 10px !important;
    padding-right: 10px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.padding_bottom10 {
    padding-bottom: 10px !important;
}

.padding_bottom15 {
    padding-bottom: 15px !important;
}

.padding_bottom20 {
    padding-bottom: 20px;
}

.padding_bottom30 {
    padding-bottom: 30px;
}

.padding_bottom40 {
    padding-bottom: 40px;
}

.padding_bottom50 {
    padding-bottom: 50px;
}

.padding_bottom60 {
    padding-bottom: 60px;
}

.padding_bottom100 {
    padding-bottom: 100px;
}

.padding_bottom150 {
    padding-bottom: 150px;
}

.padding_right50 {
    padding-left: 50px;
}

.padding_right100 {
    padding-left: 100px;
}

.padding_right60 {
    padding-left: 60px;
}

.padding_left10 {
    padding-right: 10px !important;
}

.padding_left30 {
    padding-right: 30px;
}

.padding_left50 {
    padding-right: 50px !important;
}

.padding_left70 {
    padding-right: 70px;
}

.padding_hor30 {
    padding-right: 30px;
    padding-left: 30px;
}

.no_hor_padding {
    padding-right: 0px;
    padding-left: 0px;
}

/***************margin*************************/
.margin_top0 {
    margin-top: 0px;
}

.margin_top5 {
    margin-top: 5px;
}

.margin_top10 {
    margin-top: 10px;
}

.margin_top15 {
    margin-top: 15px;
}

.margin_top20 {
    margin-top: 20px;
}

.margin_top30 {
    margin-top: 30px;
}

.margin_top40 {
    margin-top: 40px;
}

.margin_top45 {
    margin-top: 45px;
}

.margin_top50 {
    margin-top: 50px;
}

.margin_top60 {
    margin-top: 60px;
}

.margin_top70 {
    margin-top: 70px;
}

.margin_top100 {
    margin-top: 100px;
}

.margin_top130 {
    margin-top: 130px;
}

.margin_top50min {
    margin-top: -50px;
}

.margin_bottom0 {
    margin-bottom: 0px;
}

.margin_bottom5 {
    margin-bottom: 5px;
}

.margin_bottom10 {
    margin-bottom: 10px;
}

.margin_bottom15 {
    margin-bottom: 15px;
}

.margin_bottom20 {
    margin-bottom: 20px;
}

.margin_bottom25 {
    margin-bottom: 25px;
}

.margin_bottom30 {
    margin-bottom: 30px;
}

.margin_bottom40 {
    margin-bottom: 40px;
}

.margin_bottom50 {
    margin-bottom: 50px;
}

.margin_bottom60 {
    margin-bottom: 60px !important;
}

.margin_bottom100 {
    margin-bottom: 100px;
}

.margin_bottom150 {
    margin-bottom: 150px;
}

.margin_right10 {
    margin-left: 10px;
}

.margin_right20 {
    margin-left: 20px;
}

.margin_left20 {
    margin-right: 20px;
}

/***********************************************/
ul {
    list-style: none;
    padding-right: 0px;
}

.font_size25 {
    font-size: 25px;
}

.full_width {
    width: 100%;
}

.btn_download {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 50px;
    border-radius: 30px;
    font-family: Regular;
    cursor: pointer;
    transition: all 0.4s linear;
}

.btn_download:hover {
    color: #ffffff;
    border: 1px solid#ffffff;
    padding: 15px 60px;
    background-color: transparent;
    transition: all 0.4s linear;
}


.ios_app .btn_download:hover {
    padding: 15px 75px;
}

.btn_default {
    padding: 15px;
    color: #ffffff;
}